{% extends 'store/base.html' %}

{% block content %}

<h2>Your Cart</h2>

{% for item in items %}
<div class="card p-3 mb-3">
    <h5>{{ item.product.name }}</h5>
    <p>Price: ₹{{ item.product.price }}</p>

    <p>
        Quantity: {{ item.quantity }}
    </p>
    <a href="{% url 'increase_qty' item.id %}" class="btn btn-success btn-sm">+</a>
    <a href="{% url 'decrease_qty' item.id %}" class="btn btn-warning btn-sm">-</a>
    <a href="{% url 'remove_item' item.id %}" class="btn btn-danger btn-sm">Remove</a>
    <a href="{% url 'checkout' %}" class="btn btn-primary">
        Place Order
    </a>
</div>

{% endfor %}

<h3>Total: ₹{{ total }}</h3>

{% endblock %}
