{% extends 'store/base.html' %}

{% block content %}

<h2>Your Orders</h2>

{% for order in orders %}
<div class="card p-3 mb-4 shadow">
    
    <h5>Order ID: {{ order.id }}</h5>
    <p>Date: {{ order.created_at|date:"M d, Y" }}</p>
    <p>Total: ₹{{ order.total }}</p>

    <hr>

    <h6>Items:</h6>

    {% for item in order.items.all %}
        <p>
            {{ item.product.name }} - 
            {{ item.quantity }} x ₹{{ item.product.price }}
        </p>
    {% endfor %}

</div>

{% empty %}
    <p>No orders yet</p>
{% endfor %}

{% endblock %}